.svn/
.vs/
node_modules/
SolidPrinciples/wwwroot/css/
SolidPrinciples/wwwroot/js/
SolidPrinciples/bin/
SolidPrinciples/obj/
/artifacts/
*.bak
SolidPrinciples/wwwroot/img/uploads/
packages/
project.lock.json
SolidPrinciples/bower_components/
SolidPrinciples/bin/
lib/
*.log
config.Development.json
SolidPrinciples/TestResult.html
SolidPrinciples/TestResult.xml
TestResults/
